// Color palette
$primary_color: #2d4857;
$primary_color_light: #dee8ee;

$light_color_10: #f7f9fb;

$white_color: #FFFFFF;
$black_color: #000000;

// Font variables
$font_size_huge: 4rem;
$font_size_large: 2rem;
$font_size_normal: 1.4rem;
$font_size_small: 1rem;

$font_weight_black: 900;
$font_weight_bold: 700;
$font_weight_semibold: 600;
$font_weight_normal: 400;

$border_radius: 1rem;