.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    background-color: $white_color;
    border-radius: $border_radius;
    border: 1px solid lighten($primary_color, $amount: 50%);
    font-size: $font_size_normal;
    color: #777;

    @at-root #{&}-list {
        position: absolute;
        color: #777;
        top: 35px;
        left: 0;
        right: 0;
        background-color: $white_color;
        border: 1px solid lighten($primary_color, $amount: 50%);
        box-shadow: $box_shadow;
        border-bottom-left-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
        z-index: 100;

        @at-root #{&}__item {
            padding: 10px 15px;
            font-size: $font_size_normal;

            &:hover {
                background-color: $primary_color_light;
            }
        }
    }
}