.bg-primary {
    background-color: $primary_color  !important;
}

.bg-secondary {
    background-color: $secondary_color  !important;
}

.bg-primary_light {
    background-color: $primary_color_light  !important;
}

.text-primary {
    color: $primary_color  !important;
}

.text-secondary {
    color: $secondary_color  !important;
}

.text-muted {
    color: rgba($color: #000000, $alpha: 0.5);
}

.text-white {
    color: $white_color  !important;
}

.text-black {
    color: $black_color  !important;
}

.text-center {
    text-align: center !important;
}

.fw-bolder {
    font-weight: $font_weight_black  !important;
}

.fw-bold {
    font-weight: $font_weight_bold;
}

.fw-semibold {
    font-weight: $font_weight_semibold;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $light_color_20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light_color_20;
    font-size: $font_size_normal;

    @at-root #{&}-active {
        background-color: $secondary_color;
        color: white;
    }
}

.divider {
    width: 100%;
    height: 1px;
}

.image-responsive {
    max-width: 100%;
    height: auto;
}

.filter-bar {
    width: 100%;
    height: 40px;
    border-radius: $border_radius;
    background-color: $primary_color_light;
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
    padding: 0 30px;
    font-size: $font_size_normal;
    padding: 5px 20px 20px 20px;
    overflow: hidden;
    transition: .2s all ease-out;

    input[type="text"] {
        width: 180px;
    }

    @at-root #{&}__opened {
        height: 210px;
    }
}